.privacy-main {
	// text-align: center;
	margin-top: 50px;
	color: #fff;
	margin: 100px;
	list-style: none;
}

.privacy-title {
  text-align: center;
	font-size: 42px;
}

body {
  font-family: 'Lato';
  font-size: 28px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 450px) {
	.privacy-main {
		margin: 25px;
	}
}

ul {
	list-style: none;
}