@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
	background: linear-gradient(to right, #fe8c00, #f83600);
	font-family: 'Lato', sans-serif;
}

.elements {
  display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
  padding-top: 10px;
	z-index: 2;
	padding-bottom: 10px;
	color: whitesmoke;
	font-weight: 500;
  font-size: 20px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rows {
	z-index: 3;
	cursor: pointer;
}

.span {
	z-index: 3;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
	border-radius: 2px;
  transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.burgerDiv {
  display: none;
	z-index: 3;
}
.nav-el {
	font-weight: 600;
	padding-top: 20px;
	margin-right: 10%;
}

.normal {
	text-decoration: none;
	color: inherit;
}

.current {
	border-bottom: 5px solid #1C2E5A;
	border-radius: 2px;
}

.logo {
	position: absolute;
	top: 0%;
	margin: 20px;
	left: 0%;
	width: 60px;
	height: 60px;
	transition: 0.2s cubic-bezier(0.23, 1, 0.320, 1);
}

@media (max-width: 700px) {
	.elements {
		background-color: #282c34;
    flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
    position: absolute;
    margin: 0;
		padding: 20px;
		width: 35%;
    height: 115%;
    transform: translateX(-100%);
  }

  .burgerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    padding-top: 20px;
  }

	.nav-el {
		padding: 0;
	}

	.logo {
		right: 0%;
		left: auto;
	}

	.webpage {
		width: 400px;
	}
}

@media (max-width: 1000px) {

	.main {
		flex-direction: column;
	}

	.col-1 {
		text-align: center;
	}
}

.button {
	display: block;
	margin: 30px;
	border: 0;
  padding: 12px 20px;
  border-radius: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #1C2E5A;
  color: #fff;
	cursor: pointer;
	outline: none;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.9);
}

.sidebar {
  transform: translateX(0px);
}

.line-0 {
  transform: rotate(45deg) translate(4.5px, 12px);
}

.line-1 {
  transform: scale(0);
}

.line-2 {
  transform: rotate(-45deg) translateY(-7.5px);
}

.main {
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-text {
	font-size: 58px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 100px;
}

.webpage {
	max-width: 500px;
}


.button:active {
  background-color: #1C2E5A;
	transform: scale(0.98);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.nav-el:hover {
  color: lightgrey;
  transform: scale(1.2);
}

@media (max-width: 425px) {
	.webpage {
		width: 300px;
	}

	.main-text {
		font-size: 30px
	}
}